* {
    border: 0;
    margin: 0;
    padding: 0;

    font-family: 'Outfit', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #6FA6E8;
}

header{
    position: fixed;
}

#headerbox{
    background: #000000;
    border-radius: 0px 0px 30px 30px;
    
    width: 100vw;
    height: 63px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#about{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #F9F9F9;
}

#about:hover{
    color: rgb(223, 223, 223);
}

#projects{
    /* Projetos */

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #F9F9F9;
}

#projects:hover{
    color: rgb(223, 223, 223);
}

#profile{
    height: 100vh;
    width: 100vw;
}

#academic-section{
    /* Formação e Experiência */
    background: white;

    padding-top: 30px;
    height: 100vh;
    width: 100vw;
    justify-content: normal;
    flex-direction: column;
}



.content{
    background-color: #EBE7E7;

    height: 100%;
    border-radius: 50px 50px 0 0 ;
    width: 50%;
    align-items: normal;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 40px;
}

p{
    font-size: 25px;
}