* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #6FA6E8;
}

header{
    position: fixed;
    width: 100vw;
    height: 63px;
    left: 0px;
    top: 0px;

    background: #000000;
    border-radius: 0px 0px 15px 15px;
}

#about{
    position: absolute;
    width: 62px;
    height: 27px;
    left: 642px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #F9F9F9;
}

#projects{
    /* Projetos */
    position: absolute;
    width: 86px;
    height: 27px;
    left: 738px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #F9F9F9;
}

#elipse{
    /* Ellipse 1 */
    position: fixed;
    width: 1086px;
    height: 1126px;
    left: 811px;
    top: -420px;
    z-index: -1;
}

#name{
    position: absolute;
    width: 433px;
    height: 114px;
    left: 985px;
    top: 526px;

    font-family: Jockey One;
    font-size: 64px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: right;

    box-shadow: -3px 5px 0px 0px #ABD2FF;
    color: black;
}

a{
    text-decoration: none;
}